<html lang="fa">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>کورس فایند</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../static/style/all.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body dir="rtl">
    <!-- <div id="loaderContainer">
      <div id="loader"></div>
    </div> -->
    <header>
      <div class="logo-container">
        <img src="../media/Test_logo.jpeg" />
        <div class="header">
          <h1>کورس فایند</h1>
        </div>
      </div>

    </header>
    <main>
      <div class="courses"></div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
