<html lang="fa">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>کورس فایند</title>
  <!-- Styles -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'style/all.css' %}" />
  <!-- <link rel="stylesheet" href="../static/style/all.css" /> -->
  <link rel="stylesheet" href="../static/style/star-rating.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet/less" type="text/css" href="../static/style/range.less" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="../media/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="../media/favicon.ico" type="image/x-icon" />
</head>

<body dir="rtl">
  <!-- <div id="loaderContainer">
      <div id="loader"></div>
    </div> -->
    <form id="desktop-search" method="GET" action="{% url 'search' %}">
      <header>
        <a href="{% url 'home' %}" class="logo-header">
          <img src="../media/Test_logo.jpeg" />
          <h1>کورس فایند</h1>
        </a>
        <div class="search-bar result-search-bar">
          <input type="text"
          value="{{searchName}}" name="name" placeholder="جستجو کن..." spellcheck="false" />
          <button type="submit">
            <i class="ri-search-2-line"></i>
          </button>
        </div>
        <div id="leftMenu">
          <div class="gradient-btn">
            <div class="filters-btn" onclick="$('#filters-popup').css('display', 'flex').fadeIn(100);">
              <i class="ri-equalizer-line"></i>
              فیلتر ها
            </div>
          </div>
      </div>
      </header>
      <div class="page-popup filters-popup" id="filters-popup">

        <div class="page-shadow"></div>
        <div class="page-group filter-group">
          <button type="button" class="closeBtn" onclick="$('#filters-popup').fadeOut(100);">
            <i class="ri-close-line"></i>
          </button>
          <div class="filter-item">
            <div>ترتیب</div>
            <select name="order" id="order">
              <option value="-participants" {% if searchOrder == '-participants'%}selected{% endif %}>تعداد دانشجو - زیاد به کم</option>
              <option value="participants" {% if searchOrder == 'participants'%}selected{% endif %}>تعداد دانشجو - کم به زیاد</option>
              <option value="-price" {% if searchOrder == '-price'%}selected{% endif %}>قیمت - زیاد به کم</option>
              <option value="price" {% if searchOrder == 'price'%}selected{% endif %}>قیمت - کم به زیاد</option>
              <!--<option value="rating-hl">امتیاز - زیاد به کم</option>-->
            </select>
          </div>
          <div class="filter-item">
            <div>حداکثر قیمت</div>
            <div id="maxPriceValue">{{searchMaxPrice}} تومان</div>
            <input name="max-price" type="range" id="maxPrice" min="0" max="5000000" step="10000" value="{{searchMaxPrice}}">
          </div>
          <!--
          <div class="filter-item">
            <div>امتیاز</div>
            <input name="rating" id="rating" class="star-rating" max="5"
              oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" step="0.5" style="--value:2.5"
              type="range" value="2.5">
          </div>-->
          <button type="submit" id="filter-submit-button" class="filter-submit-button">جستجو</button>
        </div>
      </div>
    </form>
    <form id="mobile-search" method="GET" action="{% url 'search' %}">
      <header>
        <a href="{% url 'home' %}" class="logo-header">
          <img src="../media/Test_logo.jpeg" />
          <h1>کورس فایند</h1>
        </a>
        <div id="leftMenu">
          <div class="gradient-btn">
            <div class="filters-btn" onclick="$('#filters-mobile-popup').css('display', 'flex').fadeIn(100);">
              <i class="ri-equalizer-line"></i>
              فیلتر ها
            </div>
          </div>
        <button type="button" id="search-bar-mobile">
          <i class="ri-search-2-line"></i>
        </button>
      </div>
      </header>
      <div class="page-popup filters-popup" id="filters-mobile-popup">

        <div class="page-shadow"></div>
        <div class="page-group filter-group">
          <button type="button" class="closeBtn" onclick="$('#filters-mobile-popup').fadeOut(100);">
            <i class="ri-close-line"></i>
          </button>
          <div class="filter-item">
            <div>ترتیب</div>
            <select name="order" id="order">
              <option value="-participants" {% if searchOrder == '-participants'%}selected{% endif %}>تعداد دانشجو - زیاد به کم</option>
              <option value="participants" {% if searchOrder == 'participants'%}selected{% endif %}>تعداد دانشجو - کم به زیاد</option>
              <option value="-price" {% if searchOrder == '-price'%}selected{% endif %}>قیمت - زیاد به کم</option>
              <option value="price" {% if searchOrder == 'price'%}selected{% endif %}>قیمت - کم به زیاد</option>
              <!--<option value="rating-hl">امتیاز - زیاد به کم</option>-->
            </select>
          </div>
          <div class="filter-item">
            <div>حداکثر قیمت</div>
            <div id="maxPriceValue-mobile">{{searchMaxPrice}} تومان</div>
            <input name="max-price" type="range" id="maxPrice-mobile" min="0" max="5000000" step="10000" value="{{searchMaxPrice}}">
          </div>
          <!--
          <div class="filter-item">
            <div>امتیاز</div>
            <input name="rating" id="rating" class="star-rating" max="5"
              oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" step="0.5" style="--value:2.5"
              type="range" value="2.5">
          </div>-->
          <button type="submit" id="filter-submit-button" class="filter-submit-button">جستجو</button>
        </div>
      </div>
      <div class="page-popup" id="search-popup">
    
        <div class="page-shadow"></div>
        <div class="page-group" id="search-group">
          <button type="button" class="closeBtn" onclick="$('#search-popup').fadeOut(100);">
            <i class="ri-close-line"></i>
          </button>
          <div class="search-bar">
            <input type="text" value="{{searchName}}" name="name" placeholder="جستجو کن..." spellcheck="false" />
            <button type="submit">
              <i class="ri-search-2-line"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  <h3 id="resultsCount">{{coursesCount}} نتیجه</h3>

  <main>

    <div class="courses">
      {% if courses.count > 0 %}
        {% for course in courses%}
        <div class="course" style="display: flex; flex-direction: column;">
          <!-- <tr> -->
            <!-- <td valign="top"> -->
              <div style="background-image: url('{{course.image_url}}'); height: 200px; background-size: cover; background-repeat: no-repeat; background-position: center center;" class="course-image"></div>
              <div class="bottom">
                <h2 class="course-title">{{course.name}}</h2>
                <div class="provider-logo">
                  <img src="{{course.source.image.url}}" width="30" height="30" />
                  <p>{{course.source.name}}</p>
                </div>
                {% if course.participants != -1 %}
                <div class="user-count">
                  <i class="ri-group-fill"></i>
                  <p>{{course.participants}} دانشجو</p>
                </div>
                {% else %}
                <div class="user-count" style="height: 27px;">
                </div>
                {% endif %}

                <div class="rating">
                  <!-- <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-half-fill"></i> -->
                </div>
              </div>
            <!-- </td> -->
          <!-- </tr> -->
          <!-- <tr> -->
            <!-- <td valign="top"> -->
              <div class="footer" style="align-self: flex-end; width: 94%; margin-bottom: 8px;">
                {% if course.price == 0 %}
                <p class="price">رایگان!</p>
                {% else %}
                <p class="price">{{course.price}} تومان</p>
                {% endif %}
                <button type="button" onclick="showCourseDetails('/course/{{course.id}}')">جزئیات</button>
              </div>
        </div>
        {% endfor %}
      {% else %}
        <img id="NotFoundImage" src="../media/NotFound.gif" />
      {% endif %}
      <!-- </td> -->
      <!-- </tr> -->
      <!-- </table> -->

    </div>
  </main>
  {% if pagesCount > 1 %}
    <div id="pagination">
    {% for page in pages %}
      {% if page == currentPage %}
        <a class="active" href="/search/?name={{searchName}}&order={{searchOrder}}&max-price={{searchMaxPrice}}&page={{page}}">{{page}}</a>
      {% else %}
        <a href="/search/?name={{searchName}}&order={{searchOrder}}&max-price={{searchMaxPrice}}&page={{page}}">{{page}}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  <div class="page-popup" id="course-details-popup">

    <div class="page-shadow"></div>
    <div class="page-group" id="course-details-group">
      <button type="button" class="closeBtn" onclick="closeCourseDetails();">
        <i class="ri-close-line"></i>
      </button>
      <div style="width: 100%; height: 100%;">
        <iframe src="" id="course-iframe"></iframe>
      </div>

    </div>
  </div>

  <!-- <script src="{% static '/script/resultPage.js' %}"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../static/script/less.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@persian-tools/persian-tools/build/persian-tools.umd.js"></script>
  <script src="../static/script/range.js"></script>
  <script src="../static/script/resultPage.js"></script>
</body>

</html>